# Installing Pymongo

In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\kiran\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\kiran\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

# Creating Database

In [2]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["Students"]

#Creating collection
mycol = mydb["Student_info"]

#Adding multiple objects into our collection
mylist=[
    {"_id":1, "Name":"Amit Yadav", "Branch":"CSE", "Age":22},
    {"_id":2, "Name":"Dipak Pal", "Branch":"CSE", "Age":23},
    {"_id":3, "Name":"Tushar Shukla", "Branch":"CSE", "Age":22},
    {"_id":4, "Name":"Zaheen Patel", "Branch":"CSE", "Age":24},
    {"_id":5, "Name":"Rahul Chauhan", "Branch":"CSE", "Age":21}
]

# Read Operations

In [15]:
#find one
myclient= pymongo.MongoClient("mongodb://localhost:27017")
mydb=myclient["Students"]
mycol=mydb["Student_info"]

x=mycol.find_one()
print(x)

{'_id': 1, 'Name': 'Amit Yadav', 'Branch': 'CSE', 'Age': 25}

In [3]:
#Without parameters
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["Students"]
mycol = mydb["Student_info"]

#find all
for x in mycol.find():
  print(x)

{'_id': 1, 'Name': 'Amit Yadav', 'Branch': 'CSE', 'Age': 25}
{'_id': 2, 'Name': 'Dipak Pal', 'Branch': 'CSE', 'Age': 23}
{'_id': 5, 'Name': 'Rahul Chauhan', 'Branch': 'CSE', 'Age': 21}

In [22]:
#With parameters
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017")
mydb=myclient["Students"]
mycol=mydb["Student_info"]

for x in mycol.find({},{"_id":0,"Name":1, "Age":1}):
   print(x)

{'Name': 'Amit Yadav', 'Age': 25}
{'Name': 'Dipak Pal', 'Age': 23}
{'Name': 'Rahul Chauhan', 'Age': 21}

# Update Operation

In [6]:
#Update one

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Students"]
mycol = mydb["Student_info"]

myquery = { "Age": "22" }
newvalues = { "$set": { "Age": "23" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
  print(x)

{'_id': 1, 'Name': 'Amit Yadav', 'Branch': 'CSE', 'Age': 25}
{'_id': 2, 'Name': 'Dipak Pal', 'Branch': 'CSE', 'Age': 23}
{'_id': 5, 'Name': 'Rahul Chauhan', 'Branch': 'CSE', 'Age': 21}

In [7]:
#Update Many
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Students"]
mycol = mydb["Student_info"]

myquery = { "Name": { "$regex": "^A" } } #Update all documents where the Name starts with the letter "A":
newvalues = { "$set": { "Age": 25 } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

0 documents updated.

# Delet Operations

In [8]:
#Delet one

import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Students"]
mycol = mydb["Student_info"]
myquery = { "Name": "Zaheen Patel" }

mycol.delete_one(myquery)

In [9]:
#Delet many documents
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["Students"]
mycol = mydb["Student_info"]

myquery = { "Name": {"$regex": "^T"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

0  documents deleted.

# Delet Collction

In [10]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()